<div *ngIf="emp"><table >
  <thead>
    <tr>
      <th colspan="2">EMPLOYEE DEATILS : </th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Emp code : </td>
      <td>{{emp.code}}</td>
    </tr>

    <tr>
      <td>Name : </td>
      <td>{{emp.name}}</td>
    </tr>
    <tr >
      <td>Gender : </td>
      <td>{{emp.gender}}</td>
    </tr>
    <tr *ngIf="showDetails">
      <td>Salary : </td>
      <td>{{emp.salary}}</td>
    </tr>
    <tr *ngIf="showDetails">
        <td>DOB : </td>
        <td>{{emp.dob}}</td>
      </tr>
  </tbody>
</table>

<br/>
<div >
<button (click)="toggleDetails()">
  {{showDetails ? 'Hide ' : 'Show '}} Details
</button>
</div>
</div>
<div *ngIf="!emp">
    {{statusMessagge}}
</div>
<br>
<input type="button" class="btn btn-primary" value="Back to Employee List" (click)="onBackButtonClick()"/>