<div class="jumbotron" style="align:center;">
<app-employe-count *ngIf="employees" [all]="getTotalEmployeesCount()"
                    [male]="getTotalMaleEmployeesCount()"
                    [female]="getTotalFemaleEmployeesCount()"
                    (countRadioButtonSelectionChanged)="onEmployeeCountRadioButtonChange($event)">
                  </app-employe-count><br/>

<table class="table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Salary</th>
      <th>DOB</th>
      <!-- <th>Index</th>
      <th>First</th>
      <th>Last</th>
      <th>Even</th>
      <th>Odd</th> -->
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let emloyee of employees;trackBy:trackByEmpCode;let i=index;
    let isFirst=first;let isLast=last;let isEven=even;let isOdd=odd;"> -->
    <ng-container *ngFor="let emloyee of employees;" >
    <tr *ngIf="selectedEmployeeCountRadiobutton=='All' || selectedEmployeeCountRadiobutton==emloyee.gender ">
      <td class="big-info"><a [routerLink]="['/employee/',emloyee.code]">  {{emloyee.code | uppercase}}</a></td>
      <td>{{emloyee.name | employeeTitle:emloyee.gender}} </td>
      <td>{{emloyee.gender}}</td>
      <td>{{emloyee.salary | currency:'USD':true:'1.3-3'}}</td>
      <td>{{emloyee.dob | date:'dd/MM/y' |uppercase}}</td> 
      <!-- <td>{{i}}</td>
      <td>{{isFirst}}</td>
      <td>{{isLast}}</td>
      <td>{{isEven}}</td>
      <td>{{isOdd}}</td> -->
    </tr>
  </ng-container> 

    <tr *ngIf="!employees">
      <td colspan="5">{{statusMessage}}</td>
    </tr>
    <tr *ngIf="employees && employees.length==0">
      <td colspan="5">No employees</td>
    </tr>
  </tbody>


</table>
</div>

<input type="text" [(ngModel)]="colour" [style.background]='colour'/>