/* h1{
    font-family: Arial, Helvetica, sans-serif;
    color:#380;
    font-size: 250%;
}
table{
    font-family: Arial, Helvetica, sans-serif;
    color:#380;
    font-size: 150%;
    border-collapse: collapse;
    align-self: auto;
    width: 50%;
    

}
td{
    border: 1px solid black;
    text-align: center;
}

th{
    border: 1px solid black;
    text-align: center;
} */