<form novalidate (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
    <div *ngFor="let prop of objectProps">
      <label [attr.for]="prop">{{prop.label}}</label>

      <div [ngSwitch]="prop.type">
        <input *ngSwitchCase="'text'" 
          [formControlName]="prop.key"
          [id]="prop.key" [type]="prop.type">

      </div>

      <div class="error" *ngIf="form.get(prop.key).invalid && (form.get(prop.key).dirty || form.get(prop.key).touched)">
        <div *ngIf="form.get(prop.key).errors.required">
          {{ prop.label }} is required.
        </div>
      </div>
    </div>
    <p>
      <button type="submit">Save</button>
    </p>
  </form>
  <hr />
  <strong>Form Value</strong>
  <pre>{{ form.value | json }}</pre>
  <strong>Form is valid:</strong> {{form.valid}}