<!-- <h1>
  {{getFullName()}}
</h1>
<img [src]='imagePath' />
<hr>



<app-employee></app-employee>
<button [disabled]='isDisabled'>Click me</button>
<span bind-innerHtml='title'></span>
<input id="irfan" name="fname" value="Irfan" /> -->


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">IrfanShah</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="home">Home</a></li>
      <li ><a routerLink="employee">Employee</a></li>
      <li ><a routerLink="#">Contact</a></li>
      <li ><a href="#">About  </a></li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>