/* h1{
    font-family: Arial, Helvetica, sans-serif;
    color:#380;
    font-size: 250%;
}
table{
    font-family: Arial, Helvetica, sans-serif;
    color:#380;
    font-size: 250%;
    border-collapse: collapse;

}
td{
    border: 1px solid black;
} */